---
layout: default
---
{% for post in paginator.posts %}
{% if 1 == forloop.index %}
{% if 1 == paginator.page %}
                <div class="phalcon-blog__last-article">
                    <div class="phalcon-blog__item">
                        <div class="phalcon-blog__item-content">
                            <div class="phalcon-blog__item-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div>
                            <div class="phalcon-blog__item-info">
                                <div class="phalcon-blog__item-date">
                                    {{ post.date | date: "%b %d, %Y" }}
                                </div>
                                <div class="phalcon-blog__item-author">
                                    Phalcon Team
                                </div>
                            </div>
                            <div class="phalcon-blog__item-article">
                                {{ post.excerpt }}
                            </div>
                            <a href="{{ post.url }}"
                               class="phalcon-blog__item-read-more">Read More</a>
                        </div>
                        <a href="{{ post.url }}" class="phalcon-blog__item-img">
                            {% assign image = '/assets/projects/' | append: post.stub | append: '/' | append: post.meta.image %}
                            <img src="{{ image }}" alt="{{ post.title }}">
                        </a>
                    </div>
                </div>
                <div class="phalcon-blog__main-title">
                    LATEST POSTS
                </div>
{% endif %}
                <div class="phalcon-blog__items">
{% else %}
                    <div class="phalcon-blog__item">
                        <div class="phalcon-blog__item-content">
                            <div class="phalcon-blog__item-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </div>
                            <div class="phalcon-blog__item-info">
                                <div class="phalcon-blog__item-date">
                                    {{ post.date | date: "%b %d, %Y" }}
                                </div>
                                <div class="phalcon-blog__item-author">
                                    Phalcon Team
                                </div>
                            </div>
                            <div class="phalcon-blog__item-article">
                                {{ post.excerpt }}
                            </div>
                            <a href="{{ post.url }}"
                               class="phalcon-blog__item-read-more">Read More</a>
                        </div>
                        <a href="{{ post.url }}" class="phalcon-blog__item-img">
                            {% assign image = '/assets/projects/' | append: post.stub | append: '/' | append: post.meta.image %}
                            <img src="{{ image }}" alt="{{ post.title }}">
                        </a>
                    </div>
{% endif %}
{% endfor %}
                  <div class="pagination">
                    <div class="prev">
                      {% if paginator.previous_page %}
                      <a href="{{ paginator.previous_page_path }}">
                          Previous
                      </a>
                      {% else %}
                      &nbsp;
                      {% endif %}
                    </div>
                    <div class="next">
                      {% if paginator.next_page %}
                      <a href="{{ paginator.next_page_path }}">
                          Next
                      </a>
                      {% else %}
                      &nbsp;
                      {% endif %}
                    </div>
                  </div>
                </div>
