<footer class="bd-footer text-muted">
    <div class="container-fluid p-3 p-md-5">
        <ul class="bd-footer-links">
            <li>
                <a href="https://phalcon.link/forum">Forum</a>
            </li>
            <li>
                <a href="https://phalcon.link/blog">Blog</a>
            </li>
            <li>
                <a href="https://phalcon.link/api">API</a>
            </li>
            <li>
                <a href="https://phalcon.link/resources">Resources</a>
            </li>
            <li>
                <a href="https://phalcon.link/f">Facebook</a>
            </li>
            <li>
                <a href="https://phalcon.link/t">Twitter</a>
            </li>
            <li>
                <a href="https://phalcon.link/gab">Gab.ai</a>
            </li>
            <li>
                <a href="https://phalcon.link/discord">Discord</a>
            </li>
        </ul>
        <p>&copy; 2013-present - Phalcon Team</p>
    </div>
</footer>
