<footer class="footer">
    <div class="container">
        <ul class="footer-nav">
            <li><a href="https://phalcon.link/forum">Forum</a></li>
            <li><a href="https://phalcon.link/blog">Blog</a></li>
            <li><a href="https://phalcon.link/f">Facebook</a></li>
            <li><a href="https://phalcon.link/t">Twitter</a></li>
            <li><a href="https://phalcon.link/gab">Gab</a></li>
            <li><a href="https://phalcon.link/discord">Discord</a></li>
            <li><a href="https://phalcon.link/mewe">MeWe</a></li>
        </ul>

        <div class="footer__license">
            Phalcon is an open-source PHP framework  built as a C-extension.
            <br>
            It is available under the  new BSD License.
        </div>

        <div class="footer__supported">
            <span>Supported By</span>

            <a href="#" class="footer__supported-logo">
                <svg width="38" height="31" viewBox="0 0 38 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.375 29.3529C22.9283 29.3529 29.0514 23.2298 29.0514 15.6765C29.0514 8.12317 22.9283 2 15.375 2C7.82165 2 1.69849 8.12317 1.69849 15.6765C1.69849 23.2298 7.82165 29.3529 15.375 29.3529Z" stroke="#273646" stroke-opacity="0.7" stroke-width="3"/>
                    <path d="M33.9044 23.6177H32.1397V30.6765H33.9044V23.6177Z" fill="#273646" fill-opacity="0.7"/>
                    <path d="M37.4338 23.6177H35.6691V30.6765H37.4338V23.6177Z" fill="#273646" fill-opacity="0.7"/>
                </svg>
            </a>
        </div>
    </div>
</footer>

