<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link active" href="{{ site.url }}/">Built With Phalcon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"
           href="https://phalcon.link/github"
           target="_blank"
           rel="noopener"
           aria-label="Github">
          <i class="fab fa-github-square"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"
           href="https://phalcon.link/f"
           target="_blank"
           rel="noopener"
           aria-label="Facebook">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"
           href="https://"
           target="_blank"
           rel="noopener"
           aria-label="Twitter">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2"
           href="https://phalcon.link/discord"
           target="_blank"
           rel="noopener"
           aria-label="Discord">
          <i class="fab fa-discord"></i>
        </a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
      <a class="nav-link"
         href="https://phalcon.link/download" rel="noopener">Download</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://phalcon.link/docs" rel="noopener">Documentation</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-item nav-link dropdown-toggle mr-md-2"
         href="#"
         id="bd-versions"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false">
        Community
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item" href="https://phalcon.link/forum">Forum</a>
        <a class="dropdown-item" href="https://phalcon.link/blog">Blog</a>
        <a class="dropdown-item" href="https://phalcon.link/api">API</a>
        <a class="dropdown-item" href="https://phalcon.link/resources">Resources</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://phalcon.link/f">Facebook</a>
        <a class="dropdown-item" href="https://phalcon.link/t">Twitter</a>
        <a class="dropdown-item" href="https://phalcon.link/gab">Gab.ai</a>
        <a class="dropdown-item" href="https://phalcon.link/discord">Discord</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://phalcon.link/about" rel="noopener">Contribute</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://phalconphp.com/en/sponsors" rel="noopener">Sponsors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="https://phalcon.link/fund" rel="noopener">Support Us</a>
    </li>
  </ul>
</header>
