            <div class="phalcon-blog__right-item phalcon-blog__sponsors">
                <div class="phalcon-blog__title">
                    Supporters
                </div>
                <div class="phalcon-blog__sponsors-items">
                    <a href="https://mctekk.com" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/mctekk-149x34.svg"
                             alt="{mctekk}">
                    </a>
                    <a href="https://abits.com" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/abits-100x34.svg"
                             alt="Abits">
                    </a>
                    <a href="https://algolia.com" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/algolia-725x360.svg"
                             alt="Algolia">
                    </a>
                    <a href="https://netlify.com" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/netlify-147x40.svg"
                             alt="Netlify">
                    </a>
                    <a href="https://odva.pro/" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/o2.svg"
                             alt="O2">
                    </a>
                    <a href="https://crowdin.com/" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/crowdin.png"
                             alt="Crowdin">
                    </a>
                    <a href="https://www.uptrends.com" class="phalcon-blog__sponsors-item">
                        <img src="https://assets.phalcon.io/phalcon/images/backers/uptrends-200x60.svg"
                             alt="Uptrends Web Application Monitoring">
                    </a>
                    <a href="https://phalcon.link/fund" class="phalcon-blog__sponsors-item">
                        <span>Support Us</span>
                    </a>
                </div>
                <hr>
                <div class="phalcon-blog__sponsors-items">
                    <a href="https://opencollective.com/phalcon/#contributors">
                        <img src="https://opencollective.com/phalcon/tiers/sponsors.svg?avatarHeight=48&width=800">
                    </a>
                </div>
            </div>
