<div class="phalcon-blog__right-item phalcon-blog__projects">
	<div class="phalcon-blog__title">
		Projects
	</div>
	<div class="phalcon-blog__projects-text">
		We're a nonprofit organization that creates
		solutions for web developers. Our products are
		<a href="https://phalcon.io">Phalcon</a>,
		<a href="https://zephir-lang.com">Zephir</a> and
		<a href="https://github.com/phalcon?type=source">others</a>.
		If you would like to help us stay free and open,
		please consider <a href="https://phalcon.io/fund">supporting us</a>.
	</div>
</div>
