---
layout: default
---
                <div class="phalcon-blog-detail">
                    <h2 itemprop="name headline" class="headline">
                        {{ page.title | escape }}
                    </h2>
                    <div class="phalcon-blog-detail__info">
                        {% if page.meta.link %}
                        <a href="{{ page.meta.link }}">{{ page.meta.link }}</a>&nbsp;
                        {% endif %}
                        {% if page.meta.social.github %}
                        <a href="{{ page.meta.social.github }}">{{ page.meta.social.github }}</a>&nbsp;
                        {% endif %}
                        {% if page.meta.social.facebook %}
                        <a href="{{ page.meta.social.facebook }}">{{ page.meta.social.facebook }}</a>&nbsp;
                        {% endif %}
                        {% if page.meta.social.twitter %}
                        <a href="{{ page.meta.social.twitter }}">{{ page.meta.social.twitter }}</a>&nbsp;
                        {% endif %}
                        {% if page.meta.social.discord %}
                        <a href="{{ page.meta.social.discord }}">{{ page.meta.social.discord }}</a>&nbsp;
                        {% endif %}
                    </div>
                    <div class="phalcon-blog__tags-items">
                        {% for tag in page.tags %}
                        <a href="/tags#{{ tag | slugify }}" class="phalcon-blog__tags-item">
                            <span>{{ tag }}</span>
                        </a>
                        {% endfor %}
                    </div>
                    {{ page.content }}

                    {% assign path = '/assets/projects/' | append: page.slug | append: '/' %}
                    {% for image in page.images %}
                    <img src="{{ path | append: image.name }}" title="{{ image.text }}" alt="{{ image.text }}"/>
                    <hr/>
                    {% endfor %}
                </div>
